registry = https://registry.npmjs.org/

## Peer Dependency Settings
auto-install-peers = false
strict-peer-dependencies = false

## Experimental
## https://github.com/pnpm/pnpm/releases/tag/v7.3.0
git-branch-lockfile = true
# merge-git-branch-lockfiles = true
merge-git-branch-lockfiles-branch-pattern[] = master
merge-git-branch-lockfiles-branch-pattern[] = main
